.book-shelf {
  display: grid;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 15px;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;  
  height: 600px;
  background-color: grey;
}

  .book-sleeve {
    display: flex;
    justify-content: center;
  }

    .book-image {
      border-radius: 10px;
      margin: 10px;
      height: 250px;
    }

  .book-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .book-description {
    background-color: lightgrey;
    height: 225px;
    border-radius: 10px;
    overflow-y: auto;
    margin: 10px;
  }

    .book-description > h4 {
      text-align: center;
    }

/* .hidden-label {
  display: none;
} */

@media all and (min-width: 321px) and (max-width: 640px) {
  .book-shelf {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;  
    height: 650px;
    background-color: grey;
  }
  
    .book-sleeve {
      display: flex;
      justify-content: center;
    }
  
      .book-image {
        border-radius: 10px;
        margin: 10px;
        height: 250px;
      }
  
    .book-info {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

      .book-info h3:nth-of-type(2) {
        overflow-y: auto;
      }
  
    .book-description {
      background-color: lightgrey;
      height: 225px;
      border-radius: 10px;
      overflow-y: auto;
      margin: 10px;
    }
  
      .book-description > h4 {
        text-align: center;
      }
}

@media all and (min-width: 641px) and (max-width: 960px) {
  .book-shelf {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;  
    height: 650px;
    background-color: grey;
  }
  
    .book-sleeve {
      display: flex;
      justify-content: center;
    }
  
      .book-image {
        height: 300px;
      }
  
    .book-info {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 75%;
    }
  
    .book-description {
      border-radius: 10px;
      height: 200px;
      overflow-y: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
      .book-description > h4 {
        text-align: center;
      }
}

@media all and (min-width: 961px) and (max-width: 1280px) {

  .book-shelf {
    display: grid;
    margin: 10px auto;
    margin-bottom: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;  
    height: 500px;
    background-color: grey;
  }
  
    .book-sleeve {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
      .book-image {
        height: 400px;
      }
  
    .book-info {
      display: flex;
      padding-right: 30px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  
    .book-description {
      border-radius: 10px;
      padding: 10px;
      width: 450px;
      overflow-y: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
      .book-description > h4 {
        text-align: center;
      }

}

@media all and (min-width: 1281px) and (max-width: 1799px) {

  .book-shelf {
    display: grid;
    margin: 10px auto;
    margin-bottom: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;  
    height: 600px;
    width: 1000px;
    background-color: grey;
  }
  
    .book-sleeve {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
      .book-image {
        height: 420px;
      }
  
    .book-info {
      display: flex;
      width: 650px;
      padding-right: 20px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  
    .book-description {
      border-radius: 10px;
      padding: 10px;
      overflow-y: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

      .book-description > p {
        font-size: 22px;
      }
  
      .book-description > h4 {
        text-align: center;
      }

}

@media all and (min-width: 1800px) {

  .book-shelf {
    display: flex;
    margin: 10px auto;
    height: 500px;
    width: 850px;
    flex-basis: auto;
    
  }
  
    .book-sleeve {
      display: flex;
      margin-left: 15px;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  
      .book-image {
        height: 300px;
      }
  
    .book-info {
      display: flex;
      margin-right: 15px;
      margin-left: 15px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
  
    .book-description {
      border-radius: 10px;
      overflow-y: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

      .book-description > p {
        font-size: 22px;
      }
  
      .book-description > h4 {
        text-align: center;
      }

}