<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for books!</title>
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/modules.css"/>
  </head>
  <%- include('../layouts/header') %>
  <body>

    <form action="/searches" method="POST">
      <label>
        Search By Title
        <input type="radio" name="filter" value="title" required>
      </label>
      <label>
        Search By Author
        <input type="radio" name="filter" value="author">
      </label>
        <input type="text" name="bookQuery" placeholder="Enter search terms">
      <button type="submit">Submit</button>
    </form>
    
  </body>
  <%- include('../layouts/footer') %>
</html>