<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="../../styles/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../styles/modules.css"/>
  </head>
  <%- include('../layouts/header') %>
  <body>

    <h1>Search Results</h1>

    <main class="book-container">
      <% bookResults.forEach( book => { %>
        <%- include('../partials/book-details', {book}) %>
      <% }); %>
    </main>
  </body>
  <%- include('../layouts/footer') %>
</html>